*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: pink;
    color: black;
    padding: 20px 20px;
}

main {
    margin-bottom: 20px;
    flex: 1;
}

.main-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.main-menu ul {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    margin: 0;
    list-style: none;
    padding: 0;
}

.main-menu li {
    display: inline;
}

.main-menu a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", system-ui;
    font-weight: 700;
}

.main-menu a:hover {
    color: rgb(241, 131, 138);
    text-decoration: none;
}

.main-menu a.active {
    color: rgb(241, 131, 138);
}

p {
    text-align: left;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 15px;
    font-size: 20px;
}

h1{
    font-size: 64px;
    font-family: "Roboto", system-ui;
    font-weight: 700;
}

h2{
    font-size: 32px;
    font-family: "Roboto", system-ui;
    font-weight: 700;
}

.list-advantages li{
    font-size: 22px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}


.lunchpic {
    height: 100%;
    width: 100%;
    text-align: left;
    margin-left: 0px;
}

.lunchpic > img {      
    height: 100%;
    width: 100%;
    border-radius: 35px;
}

table {
    padding: 10px;
    border: 10px;
    border-collapse: collapse;
    border-top: 7px solid black;
    margin-bottom: 20px;
    border: 1px solid #dddddd;

    text-align: center;
    font-size: 22px;
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

td {
    text-align: left;
    padding: 10px;
    border: 3px solid black;
  }

th {
    text-align: center;
    padding: 10px;
    border: 3px solid black;
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

a[href^="tel:"] {
    text-decoration: none;
    color: white;
  }

a[href^="tel:"]:hover {
    color: rgb(241, 131, 138);
    text-decoration: none;
}

@media (max-width: 800px) {
    
    .lunchpic > img {
        width: 500px; 
    }
    
    .main-menu {
        flex: 1;
    }

    .main-menu > ul { 
        padding: 0; 
        justify-content: space-between; 
    }
}

@media (max-width: 600px) {

    h1 {
        text-align: center; 
    }

    .main-menu { 
        flex-direction: column; 
    }

    .main-menu > ul {
        flex-direction: column; 
        align-items: center; 
        align-self: center;
    }

    .main-menu a {
        font-size: calc(30px + 4px); 
    }

    .lunchpic > img {
        width: 100%; 
    }

    table {
        font-size: calc(22px - 2px); 
    }
}


@media (max-width: 400px) {
    
    table {
        font-size: calc(22px - 4px);
    }
}